<!DOCTYPE html>
<html lang="en">
<%- include('include/layout-header.ejs') %>
    <link rel="stylesheet" href="../../css/friends.css">

    <body>
        <div class="main_container">
            <%- include('include/navbar.ejs') %>
                <div class="container">
                    <div class="sidebar">
                        <%- include('include/sidebar.ejs', { page: 'friends' , session: session }) %>
                    </div>
                    <div class="middle">
                        <div class="feedDiv" id="allFeedDiv">
                            <div class="statuscontainer">
                                <div class="post_something">
                                    Friends
                                </div>
                                
                            </div>
                        </div>
                        <div class="feedDiv" id="allFeedDiv">
                            <div class="statuscontainer">
                                <div class="wrap">
                                    <div class="search">
                                       <input type="text" class="searchTerm" placeholder="Search">
                                       <button type="submit" class="searchButton">
                                            <span class="material-symbols-outlined">
                                                search
                                            </span>
                                      </button>
                                    </div>
                                </div>
                                <div class="friendList" style="height: 80vh;overflow-x:auto">
                                    <div class="headFriend">
                                        <h1>My Friends</h1>
                                    </div>
                                        
                                    <div class="flistdiv" onclick="">
                                        <div class="profileimg">
                                            <div class="img">
                                              
                                                <img src="/uploads/default_profile.png" alt="Profile Image">
                                                
                                            </div>
                                        </div>
                                        <div class="fname">
                                            <div class="name">
                                                Sarvesh
                                            </div>
                                            <div class="msg">
                                                Be kind
                                            </div>
                                        </div>
                                        <div class="status" style="padding-left:10px">
                                            <div class="date">
                                                <p style="margin-top: 10px">23-03-2022</p>
                                            </div>
                                            <div class="time">
                                                <button id="reqbut" onclick="" style="background-color:grey">
                                                    Followed
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="headFriend">
                                        <h1>Other</h1>
                                    </div>
                                    <% friends.forEach(user => { %>
                                        <div class="flistdiv">
                                            <div class="profileimg">
                                                <div class="img">
                                                   
                                                    <img src="/uploads/default_profile.png" alt="Profile Image">
                                                    
                                                </div>
                                            </div>
                                            <div class="fname">
                                                <div class="name">
                                                    <%=user.name%>
                                                </div>
                                                <div class="msg">
                                                    <%=user.profile.bio%>
                                                </div>
                                            </div>
                                            <div class="status" style="padding-left:10px">
                                                <div class="date">
                                                    <p style="margin-top: 10px">23-03-2022</p>
                                                </div>
                                                <div class="time">
                                                    <button id="reqbut<%=user._id%>" onclick="followme('<%=user._id%>')">
                                                        Follow
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    <% }); %>
                                   
                                </div>
                                


                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="../../js/friends.js"></script>    
</html>