<div class="sidebardiv">
    <div class="myprofile">
        <div class="profile">
            <div class="img">
                
                <img src="/uploads/default_profile.png" alt="Default Profile Image">


                
            </div>
            <div class="username">
                <div class="name">
                    <%=session.name%>
                </div>
                <div class="profileuser">
                    <%=session.username%>
                </div>
            </div>
        </div>
    </div>
    <div class="navigations">
        <div class="navigation" onclick="loadmypage('auth/home')">
            <div class="<%= (locals.page === 'feed') ? 'indicator' : '' %>"></div>
            <div class="inditext">
                <span class="material-symbols-outlined">dashboard</span>
                &nbsp;&nbsp;
                Feed
            </div>
        </div>
        <div class="navigation" onclick="loadmypage('auth/explore')">
            <div class="<%= (locals.page === 'explore') ? 'indicator' : '' %>"></div>
            <div class="inditext">
                <span class="material-symbols-outlined">travel_explore</span>
                &nbsp;&nbsp;
                Explore
            </div>
        </div>
        <div class="navigation" onclick="loadmypage('auth/friends')">
            <div class="<%= (locals.page === 'friends') ? 'indicator' : '' %>"></div>
            <div class="inditext">
                <span class="material-symbols-outlined">diversity_3</span>
                &nbsp;&nbsp;
                Friends
            </div>
        </div>
        <div class="navigation" onclick="loadmypage('auth/group')">
            <div class="<%= (locals.page === 'group') ? 'indicator' : '' %>"></div>
            <div class="inditext">
                <span class="material-symbols-outlined">group</span>
                &nbsp;&nbsp;
                Messages
            </div>
        </div>
        <div class="navigation" onclick="loadmypage('auth/trending')">
            <div class="<%= (locals.page === 'trending') ? 'indicator' : '' %>"></div>
            <div class="inditext">
                <span class="material-symbols-outlined">chart_data</span>
                &nbsp;&nbsp;
                Trending
            </div>
        </div>
        <div class="navigation" onclick="loadmypage('auth/setting')">
            <div class="<%= (locals.page === 'setting') ? 'indicator' : '' %>"></div>
            <div class="inditext">
                <span class="material-symbols-outlined">settings</span>
                &nbsp;&nbsp;
                Setting
            </div>
        </div>
    </div>
</div>

<script>
    function loadmypage(page) {
        window.location.href='/'+page;
    }
</script>
